body{
    background-image: url(bj-2.jpg);
    background-size: cover;
    margin: 0 auto;
}
h1{
    text-align: center;
    font-size: 50px;
}
.dis{
    text-align: center;
    font-size: 50px;
    color: gold;
 /*    border: 2px solid black;
    background-color: black;
  */   
  border-radius: 50px;
}
head{
    background-color: black;
}
.card-sec{
    display: flex;
    justify-content:center;
    flex-direction: column;
    align-content: center;
}
h4{
    text-align:center;
    font-size: 30px;
    color: white;
}
.btn{
    display: flex;
    align-self:center;
    justify-self: center;
    justify-content: center;
    width:350px;
    height: auto;
    padding: 13px;
    font-size: 30px;
    background-color: goldenrod;
    color:#016f32;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    border-radius: 10px;
}
button:hover{
    color: red;
}
.art{
    display: flex;
    justify-content:center;
    flex-direction: column;
    align-content: center;
    gap: 20px;
}
.reset{
    display: flex;
    justify-self:center;
    flex-direction: column;
    align-self: center;
    color: goldenrod; 
    margin-bottom: 20px;
    padding: 10px;
    font-size:30px;
    border-radius: 20px;
}
.images{
    width: 200px;
    height: 300px;
}
.sec-card
{
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
}
img{
    width: 200px;
    height: 300px;
}